
.cm-sap-id {
    background-color: #fff;
    width: 100%;
    padding: 8px 10px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;    
    color: #0e3b66;
    border: 1px solid #000;
    border-color: #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.cm-sap-id:focus,  .cm-sap-id:active{
    border-color: #999 !important;
    outline: none;
}

.cm-sap-id-label {
    display: block;
    color: #161616;
    font-size: 16px;
    margin-bottom: 4px;
}

.cm-sap-id-component-wrapper {
    position: relative;
}

ul.cm-sap-id-autocomplete-data {
    position: absolute;
    margin: 0;
    padding: 5px 0;
    top: 65px;
    left: 0;
    width: 60%;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 2;
}

ul.cm-sap-id-autocomplete-data:not(:has(li)) {
    display: none;
}

li.cm-sap-id-autocomplete-item {
    font-size: 16px;
    line-height: 18px;
    padding: 5px;
    list-style: none;
    list-style-type: none;
    margin-bottom: 5px;
    cursor: pointer;
}

li.cm-sap-id-autocomplete-item:last-of-type {
    margin-bottom: 0;
}

li.cm-sap-id-autocomplete-item:hover {
    background-color: #eee;
    font-weight: 600;

}